@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Manrope:wght@200;300;400;500;600;700;800&family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  font-family: "Roboto";
}

.cont1 {
  width: 100%;
  background: #F9F9F9;
}

.navbar {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 10px;
}
.navbar ul {
  display: grid;
  grid-template-columns: 135px 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.navbar ul li {
  list-style: none;
  padding-right: 20px;
  border-right: 1px solid #E0E0E0;
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.navbar ul #txt1 {
  border: none;
}
.navbar .ru {
  display: grid;
  grid-template-columns: 18px 4px;
  gap: 10px;
  justify-content: end;
}
.navbar .ru p {
  color: #888888;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.navbar .ru img {
  padding-top: 6px;
}

.cont2 {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 37px;
  gap: 20px;
}
.cont2 .logo img {
  width: 176.77px;
  margin-top: -10px;
}
.cont2 .catalog {
  background-color: #FFCC01;
  width: 180px;
  height: 54px;
}
.cont2 .catalog img {
  padding-top: 21px;
  padding-left: 26px;
}
.cont2 .catalog button {
  line-height: 21px;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  background-color: #FFCC01;
  border: none;
  padding-left: 23px;
}
.cont2 .input1 {
  background: #F8F8F8;
  padding: 7px 9px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40.5px;
}
.cont2 .input1 input {
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  width: 250px;
  height: 40px;
}
.cont2 .input1 #inputt {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-left: 20px;
  color: #888888;
}
.cont2 .input1 button {
  width: 120px;
  background: #FFCC01;
  border: none;
  height: 41px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.navbarho {
  display: grid;
  grid-template-columns: 6px 180px;
  gap: 12px;
  margin-left: 40px;
  padding-right: 40px;
  border-right: 1px solid #D0D0D0;
  padding-top: 0;
  padding-bottom: 0;
}
.navbarho .navbar1 {
  display: grid;
  grid-template-columns: 11px 167px;
  gap: 7px;
}
.navbarho .navbar1 img {
  padding-top: 5px;
}
.navbarho .navbar1 p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #888888;
}
.navbarho .navbar1 h6 {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0BB812;
  width: 300px;
  margin-top: -10px;
}

.magazin {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 38px 28px;
  padding-top: 10px;
  position: relative;
}
.magazin p {
  background-color: #0BB812;
  padding: 9px 16px;
  position: absolute;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  left: 60px;
}

.cont3 {
  width: 75%;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.cont3 .kamaz img {
  width: 100%;
}
.cont3 .odam {
  width: 565px;
  height: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #F6F6EC;
  justify-items: center;
  padding-top: 26px;
  padding-left: 38px;
  position: absolute;
  top: 250px;
  left: 535px;
}
.cont3 .odam .kamazik h1 {
  font-weight: 500;
  font-size: 12px;
  color: #333333;
  margin-top: 0px;
  margin-left: 0px;
  width: 200px;
}
.cont3 .odam .kamazik p {
  font-weight: 400;
  font-size: 10px;
  color: #333333;
  margin-top: -25px;
  margin-left: 0px;
}

.photo777 {
  display: none;
}

.cont4 {
  width: 75%;
  margin: auto;
  margin-top: 50px;
  position: relative;
}
.cont4 .photo2 img {
  width: 100%;
}
.cont4 .skidka {
  position: absolute;
  top: 50px;
  left: 380px;
}
.cont4 .skidka p {
  background: #FF2D47;
  padding: 15px 10px;
  border-radius: 100px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
}
.cont4 .skidka #k1 {
  background: #FFCC01;
  margin-top: -30px;
}
.cont4 .skidka #k2 {
  background: #67B777;
  margin-top: -30px;
}
.cont4 .txt2 {
  position: absolute;
  top: 265px;
  left: 300px;
  display: flex;
  gap: 26px;
}
.cont4 .txt2 h1 {
  width: 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
}
.cont4 .txt2 h2 {
  background-color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #0BB812;
  margin-top: 105px;
}

.photo888 {
  display: none;
}

.cont5 {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin-top: 50px;
  gap: 20px;
}
.cont5 .div1 {
  width: 250px;
  padding: 30px 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.cont5 .div1 .photo10 {
  position: relative;
}
.cont5 .div1 .photo10 img {
  width: 250px;
  height: 167px;
}
.cont5 .div1 .photo10 .skidka10 {
  position: absolute;
  top: 0px;
}
.cont5 .div1 .photo10 .skidka10 p {
  background: #FF2D47;
  padding: 10px 5px;
  border-radius: 100px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 11px;
}
.cont5 .div1 .photo10 .skidka10 .k1 {
  background: #FFCC01;
  margin-top: -10px;
}
.cont5 .div1 h1 {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #333333;
  margin-top: 31px;
  margin-bottom: 87px;
}
.cont5 .div1 .veliko {
  display: flex;
  gap: 10px;
  margin-top: -60px;
  margin-bottom: 23px;
}
.cont5 .div1 .veliko img {
  width: 30px;
  height: 20px;
  padding: 8px 5px;
  border: 1px solid #D0D0D0;
}
.cont5 .div1 .veliko .velikcha {
  border: 1px solid #FFCC01;
}
.cont5 .div1 .txt10 {
  display: flex;
  gap: 15px;
}
.cont5 .div1 .txt10 p {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.cont5 .div1 .txt10 .sitoracha {
  display: flex;
  gap: 3px;
}
.cont5 .div1 .txt10 .sitoracha img {
  width: 15px;
}
.cont5 .div1 .txt10 .sitoracha span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888888;
}
.cont5 .div1 .minus {
  display: flex;
  margin-top: 20px;
  gap: 25px;
}
.cont5 .div1 .minus h2 {
  font-weight: 700;
  font-size: 24px;
  color: #0BB812;
}
.cont5 .div1 .minus h3 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 5px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}
.cont5 .div1 .minus #h2 {
  color: #EF4155;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #333333;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
}

.cont6 {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.cont6 .photo20 {
  display: flex;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  width: 330px;
  justify-content: space-between;
  padding: 15px 15px;
  margin: 0;
}
.cont6 .photo20 .tormoz {
  width: 110px;
  height: 110px;
}
.cont6 .photo20 .txt100 {
  padding-top: 30px;
}
.cont6 .photo20 .txt100 h6 {
  font-weight: 700;
  font-size: 18px;
  color: #EF4155;
  margin-top: 8px;
}

.cont7 {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  gap: 20px;
}
.cont7 .kategorii {
  width: 150px;
  height: 130px;
  padding: 30px 24px;
  background: #F6F6EC;
}
.cont7 .kategorii img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}
.cont7 .kategorii p {
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
}

.cont8 {
  width: 100%;
  background: #F6F6EC;
  margin-top: 100px;
  padding-bottom: 60px;
}
.cont8 .div2 {
  width: 75%;
  margin: auto;
}
.cont8 .div2 .text1 {
  display: flex;
  justify-content: space-between;
}
.cont8 .div2 .text1 h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 70px;
}
.cont8 .div2 .text1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0BB812;
  margin-top: 100px;
}
.cont8 .div2 .foto1 {
  display: flex;
  gap: 30px;
}
.cont8 .div2 .foto1 .foto2 {
  position: relative;
}
.cont8 .div2 .foto1 .foto2 img {
  width: 700px;
  height: 350px;
  margin-left: -45px;
}
.cont8 .div2 .foto1 .foto2 .icon {
  position: absolute;
  top: 250px;
  left: 50px;
}
.cont8 .div2 .foto1 .foto2 .icon h2 {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.cont8 .div2 .foto1 .foto2 .icon button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
  background: #FFCC01;
  padding: 10px 15px;
  border: none;
}
.cont8 .div2 .foto1 .zaglox {
  display: none;
}
.cont8 .div2 .foto1 .foto4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cont8 .div2 .foto1 .foto4 .foto3 {
  position: relative;
}
.cont8 .div2 .foto1 .foto4 .foto3 img {
  height: 163px;
  margin-left: -45px;
}
.cont8 .div2 .foto1 .foto4 .foto3 .icon {
  position: absolute;
  top: 75px;
  left: -10px;
}
.cont8 .div2 .foto1 .foto4 .foto3 .icon h2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.cont8 .div2 .foto1 .foto4 .foto3 .icon button {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
  background: #FFCC01;
  padding: 10px 15px;
  border: none;
}

.cont9 {
  width: 75%;
  margin: auto;
  display: flex;
  gap: 35px;
  margin-top: 100px;
}
.cont9 .txtho2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cont9 .txtho2 .txtho1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cont9 .txtho2 .txtho1 p {
  font-weight: 400;
  font-size: 12.5px;
  line-height: 24px;
}

.cont10 {
  margin-top: 70px;
  width: 100%;
  background: #333333;
  padding-top: 62px;
  padding-bottom: 70px;
}
.cont10 .div100 {
  width: 75%;
  margin: auto;
  display: flex;
  gap: 70px;
}
.cont10 .div100 .stolbiki1 img {
  margin-bottom: 20px;
}
.cont10 .div100 .stolbiki1 .iconkaho {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.cont10 .div100 .stolbiki2 h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #D0D0D0;
}
.cont10 .div100 .stolbiki2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #D0D0D0;
  margin-top: 20px;
}
.cont10 .div100 .stolbiki3 h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #D0D0D0;
}
.cont10 .div100 .stolbiki3 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #D0D0D0;
  margin-top: 20px;
}
.cont10 .div100 .stolbiki3 h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFCC01;
}
.cont10 .div100 .stolbiki3 span {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #FFCC01;
  border-bottom: 1px dotted #FFCC01;
}

@media (max-width: 481px) {
  .cont1 {
    display: none;
  }
  .cont2 .catalog {
    background: none;
  }
  .cont2 .catalog button {
    display: none;
  }
  .cont2 .catalog img {
    width: 30px;
    height: 30px;
    margin-top: -10px;
  }
  .cont2 .input1 {
    display: none;
  }
  .cont2 .navbarho #img1 {
    width: 20px;
    margin-left: -150px;
    margin-top: 20px;
  }
  .cont2 .navbarho #img2 {
    width: 18px;
    margin-left: -150px;
    margin-top: 5px;
  }
  .cont2 .navbarho .navbar1 p {
    display: none;
  }
  .cont2 .navbarho .navbar1 h6 {
    display: none;
  }
  .cont2 .magazin {
    margin-left: -390px;
    margin-top: -5px;
  }
  .cont3 .kamaz {
    display: none;
  }
  .cont3 .odam {
    display: flex;
    flex-direction: column;
    background: #F6F6EC;
    position: absolute;
    background: none;
    top: 500;
    left: 0;
    margin-top: 280px;
  }
  .cont3 .odam .kamazik {
    width: 250px;
    margin-left: -65px;
    padding: 40px 30px;
    background: #F6F6EC;
    margin: auto;
    padding-left: 140px;
    margin-left: -60px;
  }
  .cont3 .odam .kamazik img {
    width: 150px;
    margin: auto;
  }
  .photo777 {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 20px;
  }
  .cont4 {
    display: none;
  }
  .photo888 {
    margin-left: 70px;
    margin-top: 700px;
  }
  .photo888 img {
    margin-bottom: 20px;
  }
  .cont5 {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 700px;
  }
  .cont7 .kategorii {
    width: 90%;
  }
  .cont7 .kategorii img {
    margin-left: 100px;
  }
  .cont8 .div2 {
    display: block;
  }
  .cont8 .div2 .text1 {
    display: block;
  }
  .cont8 .div2 .text1 p {
    margin-top: 10px;
  }
  .cont8 .div2 .foto1 .foto2 {
    margin-top: 0px;
  }
  .cont8 .div2 .foto1 .foto2 img {
    width: 335px;
    height: 270px;
    margin-left: 0px;
  }
  .cont8 .div2 .foto1 .foto2 .icon {
    top: 100px;
  }
  .cont8 .div2 .foto1 .zaglox {
    margin-top: 250px;
    display: block;
    margin-left: -365px;
  }
  .cont8 .div2 .foto1 .foto4 {
    display: none;
  }
  .cont10 .div100 {
    display: block;
  }
  .cont10 .div100 .stolbiki1 {
    margin-bottom: 30px;
  }
  .cont10 .div100 .stolbiki1 #a111 {
    margin-left: 80px;
  }
  .cont10 .div100 .stolbiki2 {
    margin-bottom: 30px;
  }
  .cont10 .div100 .stolbiki3 {
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */